---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
AllowShortBlocksOnASingleLine: Always
AlignAfterOpenBracket: Align
AllowShortCaseLabelsOnASingleLine: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: true
